h1 {
    background-color: #2B3349;
    color: rgb(168, 93, 7);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#bolognese-color {
    background-color: rgb(212, 69, 26);
    color: #000000;
}

#pasta-color {
    background-color: rgb(255, 251, 0);
}

#curry-color {
    background-color: rgb(206, 178, 22);
}